@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 262 31% 40%;

    --card: 0 0% 100%;
    --card-foreground: 262 31% 40%;

    --popover: 0 0% 100%;
    --popover-foreground: 262 31% 40%;

    --primary: 262 31% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 262 31% 40%;

    --muted: 0 0% 96%;
    --muted-foreground: 262 31% 60%;

    --accent: 24 94% 53%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 262 31% 90%;
    --input: 262 31% 90%;
    --ring: 262 31% 40%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 262 31% 10%;
    --foreground: 0 0% 98%;

    --card: 262 31% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 262 31% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 262 31% 70%;
    --primary-foreground: 262 31% 10%;

    --secondary: 262 31% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 262 31% 20%;
    --muted-foreground: 262 31% 60%;

    --accent: 24 94% 53%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 262 31% 25%;
    --input: 262 31% 25%;
    --ring: 262 31% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}